.header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*ディレクションで縦になったからjustify-contentで対応できる*/
    background-color: #F5F5F5;
    align-items: center;
    height: 95px;
}
.titleBar{
    display: flex;
    justify-content: space-between;
}
.title{
    font-size: 24px;
    color: #525252;
}
.userIcon{
    height: 40px;
    width: 40px;
}
.searchBar{
    height: 40px;
    text-align: center;
    background-color: #D9D9D9;
    border: none;
}

.eachCalendar{
    background-color: #F5F5F5;
}
.calendarTitle{
    display: flex;
    justify-content: space-between;
}
.calendarTitle h3{
    font-size: 18px;
    color: #525252;
}
.calendarDetails{
    /*marginの指定の方法がこれであってるかカワスケに確認*/
    margin-left: 15px;
}
.userIconsLists{
    display: flex;
    align-items: center;
}
.eachEvent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.eventTitle p{
    font-size: 16px;
    color: #525252;
}
.eventDetails{
    display: flex;
    align-items: center;
    /*paddingの指定の方法がこれであってるかカワスケに確認*/
    padding-bottom: 5px;
}
