/*ここから↓CalendarHead.tsx*/
.header{
    background-color: #D0D0D0;
}
.toolBar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}
.titleBox{
    margin-bottom: 25px;
}
.titleBox h1{
    font-size: 32px;
    color: #525252;
    margin-bottom: 10px;
}
.titleBox p{
    font-size: 14px;
    color: #525252;
}
.menuBar{
    display: flex;
    justify-content: space-around;
}
.menuMember{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menuMember p{
    font-size: 14px;
    color: #525252;
    margin-top: 10px;
}
.menuExit{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}
.menuExit p{
    font-size: 14px;
    color: #525252;
    margin-top: 10px;
}

/*ここから↓CalendarEvent.tsx*/
.events{

}
.events h2{
    font-size: 24px;
    color: #525252;
    margin-bottom: 17px;
}
.mainEvents{

}
.eachEvents{
    display: flex;
    justify-content: space-between;
}
.eventDetails{

}
.doneEvents{

}