.title {
  margin-top: 30px;
}
.title h2 {
  margin-top: 38px;
}

.container {
  margin-top: 17px;
}

.container input {
  width: 90vw;
  height: 40px;
  border: none;
  background-color: #d9d9d9;
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 16px;
  color: #525252;
}

.label {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.categories {
  margin-bottom: 20px;
}

.add_button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.passwordBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.button_setting {
  text-align: center;
}

.submit_button {
  width: 270px;
  height: 60px;
  background-color: #e68147;
  border-radius: 30px;
  border: none;

  margin-top: 20px;
}

.submit_button h3 {
  color: #f9f9f9;
}

.modalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.modalBody p {
  margin: 20px 0 ;
  font-size: 1.1rem;
}

.modalBody .activeButton {
  width: 112px;
  height: 48px;
  border-radius: 24px;
  background: #e68147;
  border: none;
  color: #f9f9f9;
}

.modalBody .Button {
  width: 112px;
  height: 48px;
  border-radius: 24px;
  background: #f9f9f9;
  border: 1px solid #525252;
}
